
/* devanagari */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBpQeNHkQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBmQeNHkQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBoQeM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}






.product-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border-radius: 10px;
    background-color: aqua;
    border: 5px solid deepskyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    overflow: hidden;
    z-index:   1;
}
.content-bar{
    max-height: 550px;
    overflow-y: auto;


}
.header-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    color: white;
    padding: 10px;
    display: flex;

}


.product-container:hover {
    border-color: #4caf50; /* Màu sắc của đường viền khi hover */
}




.product {
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    align-items: center;
}

.product img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.product-info {
    flex: 1;
}

.product-info h2 {
    margin: 0;
    font-size: 1.2em;
}

.product-info p {
    margin: 0;
    color: #666;
}

.product-price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
.product-price2{
    margin-top: 0px;
    font-weight: bold;
    color: #333;
    font-size: 20px;
    display: inline-block; float: left;margin-left:10px ;
    margin-left: 20px;
}

.select-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*margin-top: 10px;*/
    cursor: pointer;
    border-radius: 5px;
}

.select-button:hover {
    background-color: #45a049;
}


/*menu title*/


:root {
    --gold: #eade2e;
    --light-shadow: #b27a10;
    --dark-shadow: #3e2904;
}

.wrapper {
    display: grid;
    grid-template-areas: "overlap";
    place-content: center;
    text-transform: uppercase;
    height:70px ;
}
.wrapper > div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #51d2e5;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 80px;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
}
div.bg {
    background-image: repeating-linear-gradient(
            105deg,
            var(--gold) 0%,
            var(--dark-shadow) 5%,
            var(--gold) 12%
    );
    color: transparent;
    transform: scaleY(1.05);
    transform-origin: top;
}
div.fg {
    background-image: repeating-linear-gradient(
            5deg,
            var(--gold) 0%,
            var(--light-shadow) 23%,
            var(--gold) 31%
    );
    color: #51d2e5;
    transform: scale(1);
}



/*close x button in popup*/
.close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px; /* Điều chỉnh giá trị right để đặt nó vào bên phải */
    transform: translateY(-50%); /* Dịch chuyển nút x để căn giữa theo chiều dọc */
}

.close-button:before,
.close-button:after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    top: 50%;
    background-color: crimson;
}

.close-button:before {
    transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}

.close-button:hover:before,
.close-button:hover:after {
    background-color: #ccc;
}



/*button in menu*/
/*@import url("https://fonts.googleapis.com/css?family=Raleway");*/

:root {
    --glow-color: hsl(188, 74%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.2em 0.4em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn{
        font-size: 1em;
    }
}


/*delete button*/



.btn {
    /*display: flex;*/
    align-items: center;
    background: none;
    border: 1px solid #bdbdbd;
    height: 35px;
    padding: 0 20px 0 15px;
    letter-spacing: 0.25px;
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    float: right;"
}
.btn:focus {
    outline: none;
}
.btn .mdi {
    margin-right: 8px;
}

.btn-delete {
    font-size: 16px;
    color: red;
}
.btn-delete > .mdi-delete-empty {
    display: none;
}
.btn-delete:hover {
    background-color: #fff5f5;
}
.btn-delete:hover > .mdi-delete-empty {
    display: block;
}
.btn-delete:hover > .mdi-delete {
    display: none;
}
.btn-delete:focus {
    box-shadow: 0 0 0 4px #ffcccc;
}

