body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.container {
    width: 850px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: table;
    clear: both;
    align-items: center;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    text-align: left;
    margin-top: 20px;
}

button[type="reset"] {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cancelbtn {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 25px;
    border-radius: 4px;
    display: inline-block;
    border-color: #4CAF50;
    font-weight: bold;
}

button[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 25px;
    border-radius: 4px;
    display: inline-block;
    border-color: #4CAF50;
    font-weight: bold;
}

.product-details {
    float: left;
    width: 50%;
}

.product-image {
    float: right;
    height: auto;
    width: 40%;
    margin-top: 0%;
}

.product-image imgg {
    float: right;
    height: auto;
    margin-top: 0%;
}

#imglabel {
    margin-top: 0%;
    float: left;
    font-weight: bold;
    align-content: center;
}
