<!DOCTYPE html>
<html>

<head>
    <title>Add Product Form</title>
    <link rel="stylesheet" type="text/css" href="add_product.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <h2>Add Product</h2>
            <form action="addProduct" method="POST" enctype="multipart/form-data">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" required><br><br>

                <label for="price">Price:</label>
                <input type="text" id="price" name="price" required><br><br>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea><br><br>
                
                <label for="image">Add Image:</label>
                <input type="file" id="image" name="image" required><br><br>

                <input type="submit" value="Add Product">
                <input type="reset" value="Reset">
            </form>
        </div>
    </div>
</body>

</html>
