<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace = "~{admin-fragments::header}">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace = "~{admin-fragments::sidebar}">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace = "~{admin-fragments::top-navbar}">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form class="form-horizontal" th:action="@{/addNewVoucher}" method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Form Name -->
                            <legend style="padding-left: 60px;">ADD NEW VOUCHER</legend>

                            <div class="form-group" style="margin-left: 50px;">
                                <label class="col-md-4 control-label" for="description">DESCRIPTION</label>
                                <div class="col-md-8">
                                    <textarea th:field="*{voucher.description}" id="description"  name="description" class="form-control input-md"
                                              required="required" type="text" placeholder="Less than 60 characters..."></textarea>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group" style="margin-left: 50px;">
                                <label class="col-md-4 control-label" for="description">DISCOUNT VALUE</label>
                                <div class="col-md-8">
                                    <input id="vall" th:field="*{voucher.value}" class="form-control input-md"
                                           required="required" type="number">
                                </div>
                            </div>

                            <div class="form-group" style="margin-left: 50px;">
                                <label class="col-md-6 control-label" for="description">MINIMUM ORDER'S PRICE</label>
                                <div class="col-md-8">
                                    <input th:field="*{voucher.description}" class="form-control input-md"
                                           required="required" type="number">
                                </div>
                            </div>

                            <div class="form-group" style="margin-left: 50px;">
                                <label class="col-md-12 control-label" for="description">TARGETED CUSTOMER'S POINT RANGE</label>
                                <select th:field="*{voucher.range}" class="col-md-8 form-control input-md" style="margin-left: 12px;" required="required">
                                    <option value="1">0 - 50</option>
                                    <option value="2">50 - 200</option>
                                    <option value="3">200 - 1000</option>
                                    <option value="4">Above 1000</option>
                                </select>
                            </div>

                            <!-- Text input-->
                            <div class="form-group" style="margin-left: 50px;">
                                <label class="col-md-4 control-label">EXPIRE DATE</label>
                                <div class="col-md-8">
                                    <input th:field="*{voucher.expireDate}" class="form-control input-md" required="required"
                                           type="date">
                                </div>
                            </div>
                            <!-- Add other fields here -->
                            <button type="submit" class="btn btn-primary" onclick="saveForm()" style="margin-left: 60px;">Save</button>
                            <a class="btn btn-danger" th:href="admin-customers">Cancel</a>

                            <script>
                                let clickSaved = false;

                                function isFormDirty() {
                                    let inputElements = document.querySelectorAll('input[type="text"], input[type="number"]');
                                    for (let i = 0; i < inputElements.length; i++) {
                                        if (inputElements[i].value !== '') {
                                            return true;
                                        }
                                    }
                                    return false;
                                }

                                function saveForm() {
                                    clickSaved = true;
                                }

                                window.onbeforeunload = function() {
                                    if (isFormDirty() && !clickSaved) {
                                        return "Bạn có chắc chắn muốn rời khỏi trang này? Thông tin bạn đã nhập sẽ không được lưu.";
                                    }
                                }
                                isSaved = false;
                            </script>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{admin-fragments::footer}">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{admin-fragments::scroll}">
</a>



<!-- Bootstrap core JavaScript-->
<div th:replace="~{admin-fragments::script}"></div>

</body>

</html>