<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{admin-fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Sidebar-->
    <ul th:replace="~{admin-fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{admin-fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}">
                </p>
            </div>
            <div class="table-main table-responsive">
                <table id="myTable" class="table">
                    <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Total Price</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Products</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

<!--                    Pending approval-->

                    <tr th:each="order : ${orders}" th:if="${order.orderstatus == 1}">
                        <td>
                            <p th:text="${#temporals.format(order.time, 'yyyy-MM-dd HH:mm:ss')}"></p>
<!--                            <p>00:11 31/12/2023</p>-->
                        </td>
                        <td>
                            <p style="color: red" th:text="${order.total}"></p>
<!--                            <p>350,000VND</p>-->
                        </td>
                        <td>
                            <p th:text="${order.unregister_name}"></p>
<!--                            <p>Luong Manh Tu</p>-->
                        </td>
                        <td style="width: 115px;">
                            <p th:text="${order.unregister_phonenumber}"></p>
<!--                            <p>0123456789</p>-->
                        </td>
                        <td style="width: 300px;">
                            <p th:text="${order.unregister_address}"></p>
<!--                            <p>So 1, Dai Co Viet, Hai Ba Trung, Ha Noi</p>-->
                        </td>
                        <td>
<!--                            <div th:each="pair : ${pairList}">-->
<!--                                <p th:text="${pair.getValue()} + 'x' + ${pair.getKey().getValue()} + ' (' + ${pair.getKey().getKey()} + ')'"></p>-->
<!--                            </div>-->
<!--                            List <pair<pair<id,name>,quantity>-->
                            <div th:each="pair : ${order.order_productList}">
                                <p th:text="${pair.pro.id} + 'x' + ${pair.pro.Name} + ' (' + ${pair.amount} + ')'"></p>
                            </div>
<!--                            <p>2x Egg</p>-->
<!--                            <p>1x Neptune</p>-->
<!--                            <p>10x Sausage</p>-->
                        </td>
                        <td>
                            <p>Pending Approval</p>
                        </td>
                        <td>
                            <a th:href="@{/accept-order(id = ${order.id})}"
                               class="btn btn-secondary"><img class='fa fa-check' alt='' src=''>Accept</a>
                            <a th:href="@{/cancel-order(id = ${order.id})}"
                               class="btn btn-primary"><img class='fa fa-window-close' alt='' src=''>Cancel</a>
                        </td>
                    </tr>

<!--                    Pending delivery-->

                    <tr th:each="order : ${orders}" th:if="${order.orderstatus == 2}">
                        <td>
                            <p th:text="${order.time}"></p>
                            <!--                            <p>00:11 31/12/2023</p>-->
                        </td>
                        <td>
                            <p style="color: red" th:text="${order.total}"></p>
                            <!--                            <p>350,000VND</p>-->
                        </td>
                        <td>
                            <p th:text="${order.unregister_name}"></p>
                            <!--                            <p>Luong Manh Tu</p>-->
                        </td>
                        <td style="width: 115px;">
                            <p th:text="${order.unregister_phonenumber}"></p>
                            <!--                            <p>0123456789</p>-->
                        </td>
                        <td style="width: 300px;">
                            <p th:text="${order.unregister_address}"></p>
                            <!--                            <p>So 1, Dai Co Viet, Hai Ba Trung, Ha Noi</p>-->
                        </td>
                        <td>

                            <!--                            List <pair<pair<id,name>,quantity>-->
                            <div th:each="pair : ${order_productList}">
                                <p th:text="${pair.pro.id} + 'x' + ${pair.pro.Name} + ' (' + ${pair.amount} + ')'"></p>
                            </div>
                            <!--                            <p>2x Egg (001)</p>-->
                            <!--                            <p>1x Neptune (002)</p>-->
                            <!--                            <p>10x Sausage (003)</p>-->
                        </td>
                        <td>
                            <p>Pending Delivery</p>
                        </td>
                        <td>
                            <a th:href="@{/accept-order(id = ${order.id})}"
                               class="btn btn-secondary"><img class='fa fa-check' alt='' src=''>Accept</a>
                            <a th:href="@{/cancel-order(id = ${order.id})}"
                               class="btn btn-primary"><img class='fa fa-window-close' alt='' src=''>Cancel</a>
                        </td>
                    </tr>

                    </tbody>

                    <script>
                        function sortOrdersByDate() {
                            var orderGroups = document.querySelectorAll('tr[th:each="order : ${orders}"]');

                            orderGroups.forEach(function(group) {
                                var orders = Array.from(group.parentNode.children);
                                var sortedOrders = orders.slice(1).sort(function(a, b) {
                                    var dateA = new Date(a.querySelector('p').textContent);
                                    var dateB = new Date(b.querySelector('p').textContent);
                                    return dateA - dateB;
                                });

                                sortedOrders.forEach(function(order) {
                                    group.parentNode.appendChild(order);
                                });
                            });
                        }

                        document.addEventListener("DOMContentLoaded", function() {
                            sortOrdersByDate();
                        });
                    </script>
                    <script>
                        // Lấy giá trị datetime từ trường "${orderDate}"
                        var datetimeValue = "${order.time}";

                        // Tách phần ngày và phần thời gian từ giá trị datetime
                        var parts = datetimeValue.split('T');
                        var datePart = parts[0];
                        var timePart = parts[1];

                        // Làm tròn số giây và loại bỏ chữ số thập phân
                        var roundedSeconds = Math.round(parseFloat(timePart.slice(0, 8)));

                        // Định dạng lại datetime thành "YYYY-MM-DD HH:MM:SS"
                        var formattedDatetime = datePart + ' ' + timePart.slice(0, 8).replace(/:/g, ':') + roundedSeconds;

                        // Hiển thị giá trị datetime đã định dạng lại
                        document.querySelector('span').textContent = formattedDatetime;
                    </script>

                </table>

                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{admin-fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{admin-fragments::scroll}"></a>

<!--Add Categories Modal-->


<!--End-->

<!-- End -->
<!-- Bootstrap core JavaScript-->
<div th:replace="~{admin-fragments::script}"></div>

<script th:src="@{/js/categories.js}"></script>
</body>
</html>