<!DOCTYPE html>
<html lang="zxx">
<!--<html lang="en" xmlns:th = "https://www.thymeleaf.org/">-->
<head>
    <title>Cơm Anh Bảy</title>
    <div th:replace="~{fragments::head}"></div>
</head>

<body>
    <!-- Header section-->
    <div th:replace="~{fragments::header(var1=${display}, var2= ${checkadmin})}"></div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/homepage}">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="#">
<!--                <form id="yourForm" th:action="@{/}"   method="post" enctype="multipart/form-data">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name</p>
                                        <input id="inputName" type="text" text="" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone number</p>
                                        <input id="inputPhone" type="text" text="" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Address</p>
                                <input id="inputAddress" type="text" text="" required="required">
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">
                                    <span>Products</span>
                                    <span>Price</span> <!-- Thêm cột Price -->
                                    <span>Quantity</span> <!-- Thêm cột Quantity -->
                                </div>
                                <ul id="productList"></ul>
                                <div class="checkout__order__subtotal">Subtotal
                                    <span id="subtotal"></span>
                                </div>
                                <div class="checkout__order__subtotal">Shipping Fee
                                    <span id="shipping fee">15,000đ</span>
                                </div>
                                <div class="checkout__order__total">Total <span id="total"></span></div>


                                <div class="checkout__input__checkbox">
                                    <label for="paybycash">
                                        Cash on delivery
                                        <input type="checkbox" id="paybycash">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <a th:href="@{#}" id="place-order-btn" class="site-btn-checkout">PLACE ORDER</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <script>
        // Lấy danh sách sản phẩm từ localStorage
        let productsInCart = JSON.parse(localStorage.getItem('productsInCart')) || [];
        // Lấy thẻ ul từ mã HTML
        let productList = document.getElementById('productList');
        // Lấy dữ liệu từ localStorage
        let id_quantity = {};
        let total = 0;
        // Hiển thị danh sách sản phẩm
        productsInCart.forEach(function(product, index) {
            // Tạo phần tử li mới
            let li = document.createElement('li');
            li.innerHTML = `<span>${product.name}</span><span>${product.price}</span><span>${product.quantity}</span>`;
            id_quantity[product.id] = product.quantity;
            // Thêm phần tử li vào thẻ ul
            let priceWithoutCommas = product.price.replace(/,/g, ''); // Loại bỏ dấu phẩy trong giá trị
            total += parseFloat(priceWithoutCommas) * parseInt(product.quantity);
            productList.appendChild(li);
        });

//        let total = 0;
//        // Lấy danh sách sản phẩm từ localStorage
//        let productsInCart = JSON.parse(localStorage.getItem('productsInCart')) || [];
//        // Lấy thẻ ul từ mã HTML
//        let productList = document.getElementById('productList');
//        let id_quantity = {};
//
//        // Hiển thị danh sách sản phẩm
//        productsInCart.forEach(function(product, index) {
//            // Tạo phần tử li mới
//            let li = document.createElement('li');
//            let totall = parseInt(product.price)*parseInt(product.quantity);
//            total += totall;
//            li.innerHTML = `${product.name} <span>${totall}</span>`;
//            id_quantity[product.id] = product.quantity;
//            // Thêm phần tử li vào thẻ ul
//            productList.appendChild(li);
//        });
        let total1 = total;
        // document.getElementById('total').textContent = total;
        // document.getElementById('subtotal').textContent = total;
        // Cập nhật giá trị subtotal trong thẻ span có id='subtotal'
        document.getElementById('total').textContent = (total1 + 15000).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');
        document.getElementById('subtotal').textContent = (total1).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');


        const checkoutBtn = document.getElementById('place-order-btn');

        checkoutBtn.addEventListener('click', function(event) {
            // event.preventDefault(); // Ngăn chặn hành vi mặc định khi click vào button

            // Gửi yêu cầu Fetch khi click vào button

            const data = {
                name: document.getElementById('inputName').value,
                phoneNum: document.getElementById('inputPhone').value,
                address: document.getElementById('inputAddress').value,
                id_quantity: id_quantity,
                totalPrice: total + 15000
            };

            console.log(data);

            fetch('/...', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // Dữ liệu gửi đi
            })
                .then(response => {
                    // Xử lý phản hồi từ máy chủ
                    if (response.ok) {
                        return response;
                    }
                    throw new Error('Request failed!');
                })
                .then(data => {
                    // Xử lý dữ liệu trả về từ máy chủ
                    console.log(data);
                })
                .catch(error => {
                    // Xử lý lỗi
                    console.error(error);
                });
        });

    </script>

    <!-- Footer Section-->
    <div th:replace="~{fragments::footer}"></div>

    <!-- Js Plugins -->
    <div th:replace="~{fragments::JS-import}"></div>

</body>

</html>