<!DOCTYPE html>
<html lang="zxx">
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <title>Cơm Anh Bảy</title>
    <div th:replace="~{fragments::head}"></div>

</head>

<body>
    <!-- Header section-->
    <div th:replace="~{fragments::header(var1=${display}, var2= ${checkadmin})}"></div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/homepage}">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
<!--                <form action="#">-->
                <form id="yourForm" th:action="@{/place-orderREG}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name</p>
                                        <input id="inputName" type="text" th:value="${user.Fullname}" readonly="readonly" class="form-control" >
                                        <input id="submitName" type="hidden" th:field="${order.name}" readonly="readonly" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone number</p>
                                        <input id="inputPhone" type="text" th:value="${user.Phonenumber}" readonly="readonly" class="form-control" >
                                        <input id="submitPhone" type="hidden" th:field="${order.phonenumber}" readonly="readonly" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Address</p>

<!--                                <input type="hidden" id="userAddresses" name="userAddresses" th:value="${user.addresses}" />-->

                                <select th:field="${order.address}" name="addresses" id="addressesSelect" onchange="handleAddressChange()">
                                    <option th:each="addr : ${user.addresses}" th:value="${addr}" th:text="${addr}"></option>
                                </select>

                                <br><br>
                                <div id="newAddressContainer" style="display: none;">
                                    <label for="newAddress">New address:</label>
                                    <input type="text" id="newAddress" oninput="getAddressSuggestions()">

                                    <ul id="suggestion-list" class="suggestion-list"></ul>

                                    <style>
                                        .suggestion-list {
                                            position: absolute;
                                            width: auto;
                                            list-style: none;
                                            background-color: #fff;
                                            border: 1px solid #ccc;
                                            padding: 0;
                                            margin: 0;
                                            z-index: 1;
                                        }

                                        .suggestion-list li {
                                            padding: 5px;
                                            cursor: pointer;
                                        }

                                        .suggestion-list li:hover {
                                            background-color: #f2f2f2;
                                        }
                                    </style>

                                </div>

                            </div>

                            <input type="hidden" id="input_totalPrice" th:field="*{order.totalPrice}" text="" required="required">

                            <input type="hidden" id="input_id" name="input_id" text="" required="required">
                            <input type="hidden" id="input_quantity" name="input_quantity" text="" required="required">

                            <script>
                                let addressesSelect = document.getElementById("addressesSelect");

                                // Thêm option cuối cùng
                                let addNewAddressOption = document.createElement("option");
                                addNewAddressOption.value = "addAddr";
                                addNewAddressOption.text = "+ Add new address";
                                addressesSelect.appendChild(addNewAddressOption);

                                function handleAddressChange() {
                                    var selectedValue = document.getElementById("addressesSelect").value;
                                    if (selectedValue === "addAddr") {
                                        document.getElementById("newAddressContainer").style.display = "block";
                                    } else {
                                        document.getElementById("newAddressContainer").style.display = "none";
                                    }
                                }

                                // Biến để lưu trữ ID của interval
                                let intervalId;

                                // Hàm để bắt đầu hoặc dừng fetch tự động
                                function toggleAutomaticFetch() {
                                    if (intervalId) {
                                        clearInterval(intervalId);
                                        intervalId = null;
                                    } else {
                                        intervalId = setInterval(getAddressSuggestions, 1500);
                                    }
                                }

                                function getAddressSuggestions() {
                                    const addressInput = document.getElementById("newAddress");
                                    const query = addressInput.value;

                                    // Kiểm tra nếu ô input không trống
                                    if (query.trim() !== "") {
                                        // Gửi yêu cầu HTTP GET đến OpenStreetMap Nominatim API
                                        const url = `https://nominatim.openstreetmap.org/search?accept-language=vi&countrycodes=VN&q=${encodeURIComponent(query)}&format=json&limit=3`;
                                        fetch(url)
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error("Network response was not ok");
                                                }
                                                return response.json();
                                            })
                                            .then(data => {
                                                const suggestionList = document.getElementById("suggestion-list");
                                                suggestionList.innerHTML = "";

                                                // Kiểm tra kết quả gợi ý địa chỉ và tạo danh sách mới
                                                if (data.length > 0) {
                                                    data.forEach(item => {
                                                        const li = document.createElement("li");
                                                        li.textContent = item.display_name;
                                                        li.addEventListener("click", () => {
                                                            addressInput.value = item.display_name;
                                                            suggestionList.innerHTML = "";
                                                        });
                                                        suggestionList.appendChild(li);
                                                    });
                                                }
                                            })
                                            .catch(error => {
                                                console.error(error);
                                            });
                                    }
                                }

                            </script>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">
                                    <span>Products</span>
                                    <span>Price</span> <!-- Thêm cột Price -->
                                    <span>Quantity</span> <!-- Thêm cột Quantity -->
                                </div>
                                <ul id="productList"></ul>
                                <div class="checkout__order__subtotal">Subtotal
                                    <span id="subtotal"></span>
                                </div>
                                <div class="checkout__order__xsubtotal" style="padding-bottom: 10px;">Shipping Fee
                                    <span id="shipping fee" style="float: right"></span>
                                </div>
                                <div class="checkout__order__total">Total <span id="total"></span></div>

                                <div class="checkout__input__checkbox">
                                    <label for="paybycash">
                                        Cash on delivery
                                        <input type="checkbox" id="paybycash">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" th:href="@{/homepage}" id="place-order-btn" class="site-btn-checkout">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <script>

        // Lấy danh sách sản phẩm từ localStorage
        let productsInCart = JSON.parse(localStorage.getItem('productsInCart')) || [];
        // Lấy thẻ ul từ mã HTML
        let productList = document.getElementById('productList');
        // Lấy dữ liệu từ localStorage
        // let id_quantity = localStorage.getItem('id_quantity');
        let inputID = [];
        let inputQuan = [];
        let total = 0;
        // Hiển thị danh sách sản phẩm
        productsInCart.forEach(function(product, index) {
            // Tạo phần tử li mới
            let li = document.createElement('li');
            let pricee = parseInt((product.price).replace(/,/g, ''));
            let priceStr = pricee.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');
            li.innerHTML = `<span>${product.name}</span><span>${priceStr}</span><span>${product.quantity}</span>`;

            inputID.push(product.id);
            inputQuan.push(product.quantity);

            // Thêm phần tử li vào thẻ ul
            let priceWithoutCommas = product.price.replace(/,/g, ''); // Loại bỏ dấu phẩy trong giá trị
            total += parseFloat(priceWithoutCommas) * parseInt(product.quantity);
            productList.appendChild(li);
        });

        let total1 = total;
        // document.getElementById('total').textContent = total;
        // document.getElementById('subtotal').textContent = total;
        // Cập nhật giá trị subtotal trong thẻ span có id='subtotal'
        document.getElementById('total').textContent = (total1 + 15000).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');
        document.getElementById('subtotal').textContent = (total1).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');
        document.getElementById("shipping fee").textContent = (15000).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\./g, ',');
        document.getElementById("input_totalPrice").value = total1 + 15000;
        document.getElementById("input_id").value = inputID;
        document.getElementById("input_quantity").value = inputQuan;

        let addr = "";

        const checkoutBtn = document.getElementById('place-order-btn');

        checkoutBtn.addEventListener('click', function(event) {
            // event.preventDefault(); // Ngăn chặn hành vi mặc định khi click vào button

            // Gửi yêu cầu Fetch khi click vào button
            if (document.getElementById("addressesSelect").value === "addAddr") {
                if (document.getElementById("newAddress").value.trim() !== "") {
                    addr = document.getElementById("newAddress").value;
                    var newOption = document.createElement("option");
                    newOption.value = addr;
                    newOption.text = addr;
                    document.getElementById("addressesSelect").add(newOption);
                    document.getElementById("addressesSelect").value = addr;
                } else {
                    event.preventDefault();
                    alert("You haven't provided your address!");
                }
            }

        });

    </script>

    <!-- Footer Section-->
    <div th:replace="~{fragments::footer}"></div>

    <!-- Js Plugins -->
    <div th:replace="~{fragments::JS-import}"></div>

</body>

</html>