<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4"> Don't worry! You are one step away from resetting your password!  <br> Please enter your phone number and choose the address associated with your account. </p>
                                </div>

                                <input id="suggestAddr" type="hidden" th:value="${suggestAddr}">
                                <input id="phonenum" type="hidden" th:value="${phonenum}">

                                <form th:action="@{/checkForgotPass}" id="yourForm" class="user">

                                    <script>
                                        console.log(document.getElementById("suggestAddr").value);
                                        console.log(document.getElementById("phonenum").value);
                                    </script>

                                    <div class="form-group">
                                        <input type="tel" class="form-control form-control-user"
                                               id="exampleInputPhone" aria-describedby="phoneHelp"
                                               placeholder="Enter Phone Number..." name="phonenum" required>
                                    </div>

                                    <label>Choose your address:</label>

                                    <ul id="suggestion-list" style="list-style-type: none;">
                                    </ul>

                                    <input type="hidden" name="selectedAddr" id="selectedAddr" required>

                                    <button id="confirm" type="submit" class="btn btn-primary btn-user btn-block">
                                        Confirm
                                    </button>
                                </form>

                                <script>
                                    const query = document.getElementById("suggestAddr").value;

                                    // Kiểm tra nếu ô input không trống
                                    if (query.trim() !== "") {
                                        // Gửi yêu cầu HTTP GET đến OpenStreetMap Nominatim API
                                        const url = `https://nominatim.openstreetmap.org/search?accept-language=vi&countrycodes=VN&q=${encodeURIComponent(query)}&format=json&limit=5`;
                                        fetch(url)
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error("Network response was not ok");
                                                }
                                                return response.json();
                                            })
                                            .then(data => {
                                                const suggestionList = document.getElementById("suggestion-list");
                                                suggestionList.innerHTML = "";

                                                console.log(data);

                                                // Kiểm tra kết quả gợi ý địa chỉ và tạo danh sách mới
                                                if (data.length > 0) {
                                                    const item = data[0];
                                                    const realAddr = item.display_name;
                                                    const lat = item.lat;
                                                    const lon = item.lon;

                                                    const overpassQuery = `[out:json];
                                                    (
                                                      node(around:3000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                      way(around:3000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                      relation(around:3000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                    );
                                                    out 5;`;

                                                    const overpassUrl = "https://overpass-api.de/api/interpreter";
                                                    const overpassOptions = {
                                                        method: "POST",
                                                        headers: {
                                                            "Content-Type": "application/x-www-form-urlencoded"
                                                        },
                                                        body: `data=${encodeURIComponent(overpassQuery)}`
                                                    };

                                                    fetch(overpassUrl, overpassOptions)
                                                        .then(response => {
                                                            if (!response.ok) {
                                                                throw new Error("Network response was not ok");
                                                            }
                                                            return response.json();
                                                        })
                                                        .then(overpassData => {
                                                            // console.log(overpassData);

                                                            overpassData.elements.forEach(node => {
                                                                const lat = node.lat;
                                                                const lon = node.lon;

                                                                const nominatimUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=json&addressdetails=1`;
                                                                fetch(nominatimUrl)
                                                                    .then(response => {
                                                                        if (!response.ok) {
                                                                            throw new Error("Network response was not ok");
                                                                        }
                                                                        return response.json();
                                                                    })
                                                                    .then(addressData => {
                                                                        // console.log(addressData);
                                                                        const address = addressData.display_name;
                                                                        console.log(address);

                                                                        const li = document.createElement("li");
                                                                        li.style.marginTop = "5px";
                                                                        const label = document.createElement("label");
                                                                        const radio = document.createElement("input");
                                                                        radio.type = "radio";
                                                                        radio.name = "address";
                                                                        radio.value = address;
                                                                        label.textContent = " " + address;
                                                                        label.insertBefore(radio, label.firstChild);
                                                                        li.appendChild(label);
                                                                        suggestionList.appendChild(li);

                                                                    })
                                                                    .catch(error => {
                                                                        console.error(error);
                                                                    });
                                                            });

                                                            const numElements = suggestionList.children.length;
                                                            const randomIndex = Math.floor(Math.random() * (numElements + 1));
                                                            const li = document.createElement("li");
                                                            const label = document.createElement("label");
                                                            const radio = document.createElement("input");
                                                            radio.type = "radio";
                                                            radio.name = "address";
                                                            radio.value = realAddr;
                                                            label.textContent = " " + realAddr;
                                                            label.insertBefore(radio, label.firstChild);
                                                            li.appendChild(label);

                                                            const targetElement = suggestionList.children[randomIndex];
                                                            suggestionList.insertBefore(li, targetElement);


                                                        })
                                                        .catch(error => {
                                                            console.error(error);
                                                        });

                                                }
                                            })
                                            .catch(error => {
                                                console.error(error);
                                            });
                                    }

                                    document.getElementById("yourForm").addEventListener("submit", function() {
                                        const radioButtons = document.querySelectorAll('input[type="radio"][name="address"]');
                                        let selectedAddress = "";

                                        // Duyệt qua từng radio button
                                        radioButtons.forEach(function(radioButton) {
                                            if (radioButton.checked) {
                                                selectedAddress = radioButton.value; // Lấy giá trị của radio button được chọn
                                            }
                                        });

                                        document.getElementById("selectedAddr").value = selectedAddress;
                                        console.log(document.getElementById("selectedAddr").value);

                                        // event.preventDefault();
                                        //
                                        // console.log(document.getElementById("exampleInputPhone").value);
                                        // console.log(document.getElementById("selectedAddr").value);

                                    });

                                </script>



                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                        <style>
                            .col-lg-6{
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="~{fragments::footer}"></div>

</body>

</html>