<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
<!--                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>-->
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">We get it, stuff happens. Just enter your phone number and address below. We will send you a link to reset your password!</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="tel" class="form-control form-control-user"
                                               id="exampleInputPhone" aria-describedby="phoneHelp"
                                               placeholder="Enter Phone Number...">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-control-user" id="exampleAddress">
                                            <option value="">Select Address</option>
                                            <option value="address1">Address 1</option>
                                            <option value="address2">Address 2</option>
                                            <option value="address3">Address 3</option>
                                        </select>
                                    </div>
                                    <a href="/reset-password" class="btn btn-primary btn-user btn-block">
                                        Reset Password
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                        <style>
                            .col-lg-6{
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="~{fragments::footer}"></div>

</body>

</html>