<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4"> Don't worry! You are one step away from resetting your password!  <br> Please enter your phone number and choose the address associated with your account. </p>
                                </div>

                                <input id="suggestAddr" type="hidden" th:value="${suggestAddr}">
                                <input id="phonenum" type="hidden" th:value="${phonenum}">
                                <input id="realAddr" type="hidden" th:value="${realAddr}">
                                <div th:if="${ErrorPass}" id="err">
                                    <p class="alert alert-danger" th:text="${ErrorPass}"></p>
                                </div>

                                <form th:action="@{/checkForgotPass}" method="post" id="yourForm" class="user">

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                                    <div class="form-group">
                                        <input type="tel" class="form-control form-control-user"
                                               id="exampleInputPhone" aria-describedby="phoneHelp"
                                               placeholder="Enter Phone Number..." name="phonenumber" required>
                                    </div>

                                    <input type="hidden" name="selectedAddr" id="selectedAddr" required>
                                    <input type="hidden" name="usernameForgot" th:value="${usernameForgot}" required>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------->

                                    <label>Choose your address:</label>

                                    <ul id="suggestion-list" style="list-style-type: none;">
                                    </ul>

                                    <button id="confirm" type="submit" class="btn btn-primary btn-user btn-block">
                                        Confirm
                                    </button>
                                </form>

                                <script th:inline="javascript">
                                    const query = document.getElementById("suggestAddr").value;

                                    let realAddr = document.getElementById("realAddr").value;

                                    // Kiểm tra nếu ô input không trống
                                    if (query.trim() !== "") {
                                        // Gửi yêu cầu HTTP GET đến OpenStreetMap Nominatim API
                                        const url = `https://nominatim.openstreetmap.org/search?accept-language=vi&countrycodes=VN&q=${encodeURIComponent(query)}&format=json&limit=5`;
                                        fetch(url)
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error("Network response was not ok");
                                                }
                                                return response.json();
                                            })
                                            .then(data => {
                                                const suggestionList = document.getElementById("suggestion-list");
                                                suggestionList.innerHTML = "";

                                                // Kiểm tra kết quả gợi ý địa chỉ và tạo danh sách mới
                                                if (data.length > 0) {

                                                    console.log("CASE: Successful!!!")

                                                    const item = data[0];
                                                    // const realAddr = item.display_name;
                                                    const lat = item.lat;
                                                    const lon = item.lon;

                                                    const overpassQuery = `[out:json];
                                                    (
                                                      node(around:10000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                      way(around:10000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                      relation(around:10000, ${lat}, ${lon})["place"="suburb"]["name"!=""];
                                                    );
                                                    out 4;`;

                                                    const overpassUrl = "https://overpass-api.de/api/interpreter";
                                                    const overpassOptions = {
                                                        method: "POST",
                                                        headers: {
                                                            "Content-Type": "application/x-www-form-urlencoded"
                                                        },
                                                        body: `data=${encodeURIComponent(overpassQuery)}`
                                                    };

                                                    fetch(overpassUrl, overpassOptions)
                                                        .then(response => {
                                                            if (!response.ok) {
                                                                throw new Error("Network response was not ok");
                                                            }
                                                            return response.json();
                                                        })
                                                        .then(overpassData => {

                                                            async function getAddressData(node) {
                                                                const lat = node.lat;
                                                                const lon = node.lon;
                                                                const nominatimUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=json&addressdetails=1`;

                                                                try {
                                                                    const response = await fetch(nominatimUrl);
                                                                    if (!response.ok) {
                                                                        throw new Error("Network response was not ok");
                                                                    }
                                                                    const addressData = await response.json();
                                                                    const address = addressData.display_name;
                                                                    return address;
                                                                } catch (error) {
                                                                    console.error(error);
                                                                    return null;
                                                                }
                                                            }

                                                            async function processOverpassData() {
                                                                const promises = overpassData.elements.map(node => getAddressData(node));
                                                                const addresses = await Promise.all(promises);

                                                                addresses.forEach(address => {
                                                                    if (address !== null) {
                                                                        const li = document.createElement("li");
                                                                        li.style.marginTop = "5px";
                                                                        const label = document.createElement("label");
                                                                        const radio = document.createElement("input");
                                                                        radio.type = "radio";
                                                                        radio.name = "address";
                                                                        radio.value = address;
                                                                        label.textContent = " " + address;
                                                                        label.insertBefore(radio, label.firstChild);
                                                                        li.appendChild(label);
                                                                        suggestionList.appendChild(li);
                                                                    }
                                                                });

                                                                const numElements = suggestionList.children.length;
                                                                const randomIndex = Math.floor(Math.random() * (numElements + 1));

                                                                const li = document.createElement("li");
                                                                const label = document.createElement("label");
                                                                const radio = document.createElement("input");
                                                                radio.type = "radio";
                                                                radio.name = "address";
                                                                radio.value = realAddr;
                                                                label.textContent = " " + realAddr;
                                                                label.insertBefore(radio, label.firstChild);
                                                                li.appendChild(label);

                                                                const targetElement = suggestionList.children[randomIndex];
                                                                suggestionList.insertBefore(li, targetElement);
                                                            }

                                                            processOverpassData();


                                                        })
                                                        .catch(error => {
                                                            console.error(error);
                                                        });

                                                } else {
                                                    console.log("CASE: Empty data!!!");

                                                    // Lấy danh sách defaultaddresses từ model
                                                    var defaultAddresses = /*[[${defaultaddresses}]]*/ [];
                                                    var randomAddresses = [];
                                                    var numItemsToSelect = 4;
                                                    if (numItemsToSelect <= defaultAddresses.length) {
                                                        // Lặp cho đến khi đủ số lượng phần tử cần lấy ngẫu nhiên
                                                        while (randomAddresses.length < numItemsToSelect) {
                                                            // Chọn một phần tử ngẫu nhiên từ danh sách defaultaddresses
                                                            var randomIndex = Math.floor(Math.random() * defaultAddresses.length);
                                                            var randomAddress = defaultAddresses[randomIndex];

                                                            // Kiểm tra xem phần tử đã được chọn đã tồn tại trong mảng randomAddresses hay chưa
                                                            // Nếu chưa tồn tại, thêm phần tử vào mảng
                                                            if (!randomAddresses.includes(randomAddress)) {
                                                                randomAddresses.push(randomAddress);
                                                            }
                                                        }
                                                    }

                                                    // console.log(randomAddresses);

                                                    randomAddresses.forEach(addr => {
                                                        if (addr !== null) {
                                                            const li = document.createElement("li");
                                                            li.style.marginTop = "5px";
                                                            const label = document.createElement("label");
                                                            const radio = document.createElement("input");
                                                            radio.type = "radio";
                                                            radio.name = "address";
                                                            radio.value = addr.address;
                                                            label.textContent = " " + addr.address;
                                                            label.insertBefore(radio, label.firstChild);
                                                            li.appendChild(label);
                                                            suggestionList.appendChild(li);
                                                        }
                                                    });

                                                    const numElements = suggestionList.children.length;
                                                    const randIndex = Math.floor(Math.random() * (numElements + 1));

                                                    const li = document.createElement("li");
                                                    const label = document.createElement("label");
                                                    const radio = document.createElement("input");
                                                    radio.type = "radio";
                                                    radio.name = "address";
                                                    radio.value = realAddr;
                                                    label.textContent = " " + realAddr;
                                                    label.insertBefore(radio, label.firstChild);
                                                    li.appendChild(label);

                                                    const targetElement = suggestionList.children[randIndex];
                                                    suggestionList.insertBefore(li, targetElement);

                                                }
                                            })
                                            .catch(error => {
                                                console.error(error);
                                            });
                                    }

                                    document.getElementById("yourForm").addEventListener("submit", function() {
                                        const radioButtons = document.querySelectorAll('input[type="radio"][name="address"]');
                                        let selectedAddress = "";

                                        // Duyệt qua từng radio button
                                        radioButtons.forEach(function(radioButton) {
                                            if (radioButton.checked) {
                                                selectedAddress = radioButton.value; // Lấy giá trị của radio button được chọn
                                            }
                                        });

                                        document.getElementById("selectedAddr").value = selectedAddress;

                                        // event.preventDefault();

                                        console.log("phonenum: " + document.getElementById("exampleInputPhone").value);
                                        console.log("selectedAddr: " + document.getElementById("selectedAddr").value);

                                    });

                                </script>


                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                        <style>
                            .col-lg-6{
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="~{fragments::footer}"></div>

</body>

</html>