<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head>
    <title>Cơm Anh Bảy</title>
    <div th:replace="~{fragments::head}"></div>
</head>

<body>
<!-- Header section -->
<div th:replace="~{fragments::header}"></div>

<!-- Hero section -->
<div th:replace="~{fragments::hero}"></div>

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/img/categories/cat-1.jpg">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg">
                        <h5><a href="#">Dried Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg">
                        <h5><a href="#">Vegetables</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Today's Menu</h2>

                </div>
            </div>
        </div>

        <!--    Truyen vao day    -->
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6" th:each = "product : ${products}" th:if="${product.deleted} == false">
                <div id="successMessage" th:if = "${success}" class = "text-center alert alert-success">
                    <!--                                Text báo thêm thành công-->
                    <p th:text = "${success}"></p>
                </div>
                <div id="errorMessage" th:if = "${error}" class="text-center alert alert-danger">
                    <!--                                Text báo thêm thất bại-->
                    <p th:text = "${error}"></p>
                </div>

                <script>
                    const successMessage = document.getElementById("successMessage");
                    const errorMessage = document.getElementById("errorMessage");

                    if (successMessage) {
                        setTimeout(function () {
                            successMessage.classList.add("fade-out");
                            setTimeout(function () {
                                successMessage.style.display = "none";
                            }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
                        }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
                    }

                    if (errorMessage) {
                        setTimeout(function () {
                            errorMessage.classList.add("fade-out");
                            setTimeout(function () {
                                errorMessage.style.display = "none";
                            }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
                        }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
                    }
                </script>
                <!--                            Action add to cart cu Huy sửa vào đây-->
                <form th:action="@{/}" method="post">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img class = "my-product-image" style="height: 100%; width: 100%"
                                 th:src="'data:image/jpeg;base64,' + ${product.image}" alt="Product Image">
                            <ul class="featured__item__pic__hover">
                                <!--    Nut them vao gio hang    -->
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6 th:text = "${product.name}"></h6>
                            <h6 th:text = "${product.info}"></h6>
                            <h5 th:text = "${product.price}"></h5>
                        </div>
                    </div>
                </form>
            </div>


<!--        <div class="row featured__filter">-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                <div class="featured__item">-->
<!--                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-2.jpg">-->
<!--                        <ul class="featured__item__pic__hover">-->
<!--                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="featured__item__text">-->
<!--                        <h6>Crab Pool Security</h6>-->
<!--                        <h6>adasdasdasdasdasdasdasdádasdadasdasdasdasdasdasdawdwadawdawdddddddddddădawdawdawdadwudiuyqwuhqowdowdijawodjiaiojaoihdioawoidaiowhiohaiowhdiohwdohawidhihwohfoawhifhaowhfoahwifiahwiwndodhoaowhnwdoaowjdos</h6>-->
<!--                        <h5>$30.00</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                <div class="featured__item">-->
<!--                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-3.jpg">-->
<!--                        <ul class="featured__item__pic__hover">-->
<!--                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="featured__item__text">-->
<!--                        <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                        <h5>$30.00</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</section>

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img th:src="@{/img/banner/banner-1.jpg}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img th:src="@{/img/banner/banner-2.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">

                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>

                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>

                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>

                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}"  alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}"  alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}"  alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}"  alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img th:src="@{/img/latest-product/lp-3.jpg}"  alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img th:src="@{/img/blog/blog-1.jpg}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img th:src="@{/img/blog/blog-2.jpg}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img th:src="@{/img/blog/blog-3.jpg}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section-->
<div th:replace="~{fragments::footer}"></div>

<!-- Js Plugins -->
<div th:replace="~{fragments::JS-import}"></div>

</body>

</html>