<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                        </div>
<!--                        Tên đăng nhập hoặc mật khẩu không đúng-->
                        <div th:if = "${}">
                            <p class = "alert alert-danger" th:text = "${}"></p>
                        </div>
                        <form th:action="@{/}" th:object = "${}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" th:field = "*{}" id="username"
                                       placeholder="Tên đăng nhập" name="username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" th:field="*{}" id="password"
                                       placeholder="Mật khẩu" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Đăng nhập
                            </button>
                            <div class="text-center">
                                <a class="small" href="/forgot-password">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <p class="small">Chưa có tài khoản? <a href="register.html">Đăng kí ngay!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>