<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="~{fragments::head}"></div>
</head>
<body>

<!--Header section-->
<div th:replace="~{fragments::header(var1=${display}, var2= ${checkadmin})}"></div>
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                </div>
                                <!--                        Tên đăng nhập hoặc mật khẩu không đúng-->
                                <div th:if="${ErrorPass}">
                                    <p class="alert alert-danger" th:text="${ErrorPass}"></p>
                                </div>
                                <form th:action="@{/do-login}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="username"
                                               placeholder="Tên đăng nhập" name="username" required/>
                                        <label id="usernameRequired" style="display: none; color: red; margin-top: 5px;">  Please enter your username!</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password"
                                               placeholder="Mật khẩu" pattern=".{6,}" name="password"
                                               title="Mật khẩu phải ít nhất 6 ký tự" required/>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                                <hr/>
                                <form th:action="@{/forgotPass}" method="post">
                                    <input id="usernameForgot" type="hidden" name="usernameForgot" required>
                                    <div class="text-center">
                                        <a id="forgotPass" type="submit" class="small">Forgot password?</a>
                                    </div>

                                    <script>
                                        let submit = document.getElementById("forgotPass");
                                        submit.addEventListener('click', function(event) {
                                            let username = document.getElementById("username").value;
                                            if (!username) {
                                                event.preventDefault();
                                                document.getElementById("usernameRequired").style.display = "block";
                                            } else {
                                                document.getElementById("usernameForgot").value = username;
                                                console.log(document.getElementById("usernameForgot").value);
                                            }
                                        });
                                    </script>

                                </form>
                                <div class="text-center">
                                    <a class="small" href="/register">Not a member? Register!</a>
                                </div>
                                <style>
                                    a.small:active,
                                    a.small:focus {
                                        outline: none;
                                    }
                                    a.small {
                                        color: #007bff; /* Màu mặc định của liên kết */
                                        transition: color 0.1s ease; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
                                    }

                                    a.small:hover {
                                        color: #f00; /* Màu liên kết khi di chuột vào */
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div th:replace="~{fragments::footer}"></div>
    </body>
    </html>