<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <div th:replace="~{fragments::head}"></div>
</head>


<style>
    /*body {*/
    /*    background: #f5f5f5;*/
    /*    margin-top: 20px;*/
    /*}*/

    .form-label {
        font-size: large;
        display: inline-block;
        font-weight: lighter;
        margin-bottom: 5px;
        color: #333;
    }

    .ui-w-80 {
        width : 250px !important;
        height: auto;
    }

    .btn-default {
        border-color: rgba(24, 28, 33, 0.1);
        background  : rgba(0, 0, 0, 0);
        color       : #4E5155;
    }

    label.btn {
        margin-bottom: 0;
    }

    .btn-outline-primary {
        border-color: #26B4FF;
        background  : transparent;
        color       : #26B4FF;
    }

    .btn {
        cursor: pointer;
        margin-right: 20px;
        font-size: large;
    }

    .text-light {
        color: #babbbc !important;
    }

    .card {
        background-clip: padding-box;
        box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
    }

    .row-bordered {
        overflow: hidden;
    }

    .account-settings-fileinput {
        position  : absolute;
        visibility: hidden;
        width     : 1px;
        height    : 1px;
        opacity   : 0;
    }

    .account-settings-links .list-group-item.active {
        font-size: large;
        font-weight: bold !important;
    }

    html:not(.dark-style) .account-settings-links .list-group-item.active {
        font-size: large;
        background: transparent !important;
    }

    .account-settings-multiselect~.select2-container {
        width: 100% !important;
    }

    .light-style .account-settings-links .list-group-item {
        font-size: large;
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }

    .light-style .account-settings-links .list-group-item.active {
        font-size: large;
        color: #4e5155 !important;
    }

    .material-style .account-settings-links .list-group-item {
        font-size: large;
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }

    .material-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
        font-size: large;
    }

    .dark-style .account-settings-links .list-group-item {
        font-size: large;
        padding     : 0.85rem 1.5rem;
        border-color: rgba(255, 255, 255, 0.03) !important;
    }

    .dark-style .account-settings-links .list-group-item.active {
        font-size: large;
        color: #fff !important;
    }

    .light-style .account-settings-links .list-group-item.active {
        font-size: large;
        color: #4E5155 !important;
    }

    .light-style .account-settings-links .list-group-item {
        font-size: large;
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }
</style>


<body>
<div th:replace="~{fragments::header(var1=${display}, var2= ${checkadmin}, var3 = ${userFullname})}"></div>

<div class="container light-style flex-grow-1 container-p-y">


    <div id="successMessage" th:if = "${success}" class = "text-center alert alert-success">
        <p th:text = "${success}"></p>
    </div>
    <div id="errorMessage" th:if = "${error}" class="text-center alert alert-danger">
        <p th:text = "${error}"></p>
    </div>

    <script>
        const successMessage = document.getElementById("successMessage");
        const errorMessage = document.getElementById("errorMessage");

        if (successMessage) {
            setTimeout(function () {
                successMessage.classList.add("fade-out");
                setTimeout(function () {
                    successMessage.style.display = "none";
                }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
            }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
        }

        if (errorMessage) {
            setTimeout(function () {
                errorMessage.classList.add("fade-out");
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
            }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
        }
    </script>

    <h4 class="font-weight-bold py-3 mb-4">
        My Profile
    </h4>


    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light" style="width: 100%;">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#acc-info">Personal Information</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#acc-change">Set Profile</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#view-orders">View Orders</a>
                </div>
            </div>

            <div class="col-md-15" style="width: 70%">
                <div class="tab-content">

                    <div class="tab-pane fade active show" id="acc-info">
                        <div class="card-body media align-items-center">

                            <img class="d-block ui-w-80" width="200px" height="200px"
                                 th:src="'data:image/jpeg;base64,' + ${user.avatar}" alt="">

                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">

                                <label class="form-label" th:text="'Full Name: ' + ${user.Fullname}" th:field="${user.Fullname}"></label>

                            </div>
                            <div class="form-group">

                                <label class="form-label" th:text="'Phone Number: ' + ${user.Phonenumber}" th:field="${user.Phonenumber}"></label>

                            </div>
                            <div class="form-group">

                                <label style="word-wrap: break-word;" class="form-label" th:text="'Default Address: ' + ${user.addresses.get(0)}" th:field="${user.addresses.get(0)}"></label>

                            </div>
                            <div class="form-group">

                                <label class="form-label" th:text="'Point earned: ' + ${user.Userpoint}" th:field="${user.Userpoint}"></label>

                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade" id="acc-change"  >
                        <form id="yourForm" th:action="@{/update-profile}" method="post" enctype="multipart/form-data">

                            <div class="card-body media align-items-center">

                                <img class="d-block ui-w-80" width="200px" height="200px" id="previewImg"
                                     th:src="'data:image/jpeg;base64,' + ${user.avatar}" alt="">

                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input id="inputImg" type="file" class="account-settings-fileinput" name="imageUser">
                                    </label>
                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                                <script>
                                    const inputElement = document.getElementById("inputImg");
                                    const previewElement = document.getElementById("previewImg");

                                    inputElement.addEventListener("change", function (event) {
                                        const file = event.target.files[0];
                                        const reader = new FileReader();

                                        reader.onload = function (e) {
                                            previewElement.src = e.target.result;
                                        };

                                        reader.readAsDataURL(file);
                                    });
                                </script>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Full Name</label>
                                    <input th:field = "${user.Fullname}" class="form-control" required="" type="text">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Phone number</label>
                                    <input th:field = "${user.Phonenumber}" class="form-control" required="" type="text">
                                </div>

                                <label class="form-label">Choose default address:</label>
                                <ul style="list-style-type: none;">
                                    <li th:each="address : ${user.addresses}">
                                        <label>
                                            <input type="radio" name="address" th:value=" ${address}" th:text="' ' + ${address}"
                                                   th:checked="${address == user.addresses.get(0)}">

                                            <input type="hidden" name="selectedAddr" id="selectedAddr" required>

                                        </label>
                                    </li>
                                </ul>

                                <!-- Hidden input field để lưu địa chỉ mặc định-->
<!--                                <input type="hidden" id="userAddresses" name="userAddresses" th:field="*{user.addresses}" />-->

                                <script>
                                    document.getElementById("yourForm").addEventListener("submit", function() {
                                        const radioButtons = document.querySelectorAll('input[type="radio"][name="address"]');
                                        let selectedAddress = "";

                                        // Duyệt qua từng radio button
                                        radioButtons.forEach(function(radioButton) {
                                            if (radioButton.checked) {
                                                selectedAddress = radioButton.value; // Lấy giá trị của radio button được chọn
                                            }
                                        });

                                        document.getElementById("selectedAddr").value = selectedAddress;
                                        // console.log(document.getElementById("selectedAddr").value);

                                    });
                                </script>

                                <div class="text-right mt-3" style="padding-bottom: 30px">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <a href="/my-account" class="btn btn-default">Cancel</a>
                                    <!-- add th:action -->
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="tab-pane fade" id="view-orders">
                        <div class="card-body pb-2">
                            <label class="form-label">Your Orders</label>
                            <table class="table table-bordered">
                                <thead>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Order Date</th>
                                        <th>Total Price</th>
                                        <th>Address</th>
                                        <th>Products</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="order-group" th:each="order : ${user.orders}" th:if=" ${order.orderstatus == 1}">
                                        <td>
                                            <p th:text="${#temporals.format(order.time, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                        </td>
                                        <td>
                                            <p style="color: red" th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 3, 'POINT').replace('.000', '') + '&#8363;'}"></p>
                                        </td>
                                        <td style="width: 300px;">
                                            <p th:text="${order.unregister_address}"></p>
                                        </td>
                                        <td>
                                            <!--                            List <pair<pair<id,name>,quantity>-->
                                            <div th:each="pair : ${order.order_productList}">
                                                <p th:text="${pair.amount} + ' x ' + ${pair.pro.Name} "></p>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Pending Approval</p>
                                        </td>
                                        <td>
                                            <a th:href="@{/cancel-order-user(id = ${order.id})}"
                                               class="btn btn-primary"><img class='fa fa-window-close' alt='' src=''>Cancel</a>
                                        </td>
                                    </tr>

                                    <tr class="order-group" th:each="order : ${user.orders}" th:if=" ${order.orderstatus == 2 or order.orderstatus == 3 or order.orderstatus == 4}">
                                        <td>
                                            <p th:text="${#temporals.format(order.time, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                        </td>
                                        <td>
                                            <p style="color: red" th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 3, 'POINT').replace('.000', '') + '&#8363;'}"></p>
                                        </td>
                                        <td style="width: 300px;">
                                            <p th:text="${order.unregister_address}"></p>
                                        </td>
                                        <td>
                                            <!--                            List <pair<pair<id,name>,quantity>-->
                                            <div th:each="pair : ${order.order_productList}">
                                                <p th:text="${pair.amount} + ' x ' + ${pair.pro.Name} "></p>
                                            </div>
                                        </td>
                                        <td>
                                            <p th:text="${order.orderstatus == 2 ? 'Pending Delivery' : (order.orderstatus == 3 ? 'Completed' : (order.orderstatus == 4 ? 'Cancelled' : ''))}"></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                    </tr>

                                    </tbody>

<!--                                    <script>-->
<!--                                        function sortOrdersByDate() {-->
<!--                                            var orderGroups = document.querySelectorAll('.order-group');-->

<!--                                            orderGroups.forEach(function(group) {-->
<!--                                                var orders = Array.from(group.parentNode.children);-->
<!--                                                var sortedOrders = orders.slice(1).sort(function(a, b) {-->
<!--                                                    var dateA = new Date(a.querySelector('p').textContent);-->
<!--                                                    var dateB = new Date(b.querySelector('p').textContent);-->
<!--                                                    return dateA - dateB;-->
<!--                                                });-->

<!--                                                sortedOrders.forEach(function(order) {-->
<!--                                                    group.parentNode.appendChild(order);-->
<!--                                                });-->
<!--                                            });-->
<!--                                        }-->

<!--                                        document.addEventListener("DOMContentLoaded", function() {-->
<!--                                            sortOrdersByDate();-->
<!--                                        });-->
<!--                                    </script>-->

                                </table>

                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- Footer Section-->
<div th:replace="~{fragments::footer}"></div>


<!--<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script type="text/javascript"></script>-->

<!-- Js Plugins -->
<div th:replace="~{fragments::JS-import}"></div>
</body>

</html>
<!--helo cac con vo-->