<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="~{fragments::head}"></div>
</head>

<body class="bg-gradient-primary">
<div>
    <!-- Humberger Begin -->
    <div class='humberger__menu__overlay'></div>
    <div class='humberger__menu__wrapper'>
        <div class='humberger__menu__logo'>
            <a th:href='@{/homepage}'><img alt='' th:src='@{static/img/logo.png}'></a>
        </div>
        <div class='humberger__menu__cart'>
            <ul>
                <!--                <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                <li>Cart <a href='/shoping-cart'><i class='fa fa-shopping-cart'></i> <span
                  id='cartItemCount' style='top: -.4rem; left: 1.0rem;'>0</span></a></li>

                <script>
                    // Lấy danh sách sản phẩm từ localStorage
                    let productsInCar = JSON.parse(localStorage.getItem('productsInCart')) || [];

                    // Lấy phần tử span dựa trên id
                    let cartItemCount = document.getElementById('cartItemCount');

                    if (productsInCar) {
                        // Cập nhật số lượng sản phẩm trong span
                        cartItemCount.textContent = String(productsInCar.length);
                    }
                </script>

            </ul>
        </div>
        <nav class='humberger__menu__nav mobile-menu'>
            <ul>
                <li class='active'><a th:href='@{/homepage}'>Home</a></li>
                <li><a th:href='@{/contact}'>Contact</a></li>
                <li><a th:href='@{/my-account}'>My Account</a></li>
            </ul>
        </nav>
        <div id='mobile-menu-wrap'></div>
        <div class='header__top__right__social'>
            <a href='#'><i class='fa fa-facebook'></i></a>
        </div>
        <div class='humberger__menu__contact'>
            <ul>
                <li><i class='fa fa-envelope'></i> nhom7@cnpm.com</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class='header'>
        <div class='header__top'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6'>
                        <div class='header__top__left'>
                            <ul>
                                <li><i class='fa fa-envelope'></i> nhom7@cnpm.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-3'>
                    <div class='header__logo'>
                        <a th:href='@{/homepage}'><img alt='' style='width: 250px; height: auto'
                                                       th:src='@{/img/logo.png}'></a>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <nav class='header__menu'>
                        <ul>
                            <li class='active'><a th:href='@{/homepage}'>Home</a></li>
                            <li><a th:href='@{/contact}'>Contact</a></li>
                            <li><a th:href='@{/my-account}'>My Account</a></li>
                        </ul>
                    </nav>
                </div>
                <div class='col-lg-3'>
                    <div class='header__cart'>
                        <ul>
                            <!--                            <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                            <li>Cart <a href='/shoping-cart'><i class='fa fa-shopping-cart'></i> <span
                              id='cartItemCountt' style='top: -.4rem; left: 1.0rem;'>0</span></a></li>

                            <script>
                                // Lấy danh sách sản phẩm từ localStorage
                                let productsInCartt = JSON.parse(localStorage.getItem('productsInCart')) || [];

                                // Lấy phần tử span dựa trên id
                                let cartItemCountt = document.getElementById('cartItemCountt');

                                if (productsInCartt) {
                                    // Cập nhật số lượng sản phẩm trong span
                                    cartItemCountt.textContent = String(productsInCartt.length);
                                }
                            </script>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='humberger__open'>
                <i class='fa fa-bars'></i>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản</h1>
                        </div>
                        <div th:if = "${usernameErr}">
                            <p class = "alert alert-danger" th:text = "${usernameErr}"></p>
                        </div>
                        <div th:if = "${errors}">
                            <p class = "alert alert-danger" th:text = "${errors}"></p>
                        </div>
                        <div th:if = "${success}">
                            <p class = "alert alert-success" th:text = "${success}"></p>
                        </div>
                        <div th:if = "${passwordError}">
                            <p class = "alert alert-danger" th:text = "${passwordError}"></p>
                        </div>
                        <form th:action="@{/register-new}" th:object = "${userdt}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" th:field = "*{Fullname}"id="fullname"
                                       placeholder="Họ và tên" name="fullname" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" th:field = "*{Username}" id="username"
                                       placeholder="Tên đăng nhập" name="username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" th:field="*{Password}" id="password"
                                       placeholder="Mật khẩu (ít nhất 6 ký tự)" name="password" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" th:field="*{repeatPassword}" id="repeatPassword"
                                       placeholder="Nhập lại mật khẩu" name="repeatPassword" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control form-control-user" th:field="*{Phonenumber}" id="phone"
                                       placeholder="Số điện thoại (10 chữ số)" name="phone" pattern="[0-9]{10}" title="Số điện thoại phải có đúng 10 chữ số" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"  id="address"
                                       placeholder="Địa chỉ" name="address" required oninput="getAddressSuggestions()">
                                <ul id="suggestion-list" class="suggestion-list"></ul>

                                <style>
                                    .suggestion-list {
                                        position: absolute;
                                        width: auto;
                                        list-style: none;
                                        background-color: #fff;
                                        border: 1px solid #ccc;
                                        padding: 0;
                                        margin: 0;
                                        z-index: 1;
                                    }

                                    .suggestion-list li {
                                        padding: 5px;
                                        cursor: pointer;
                                    }

                                    .suggestion-list li:hover {
                                        background-color: #f2f2f2;
                                    }
                                </style>

                                <script>

                                    // Biến để lưu trữ ID của interval
                                    let intervalId;

                                    // Hàm để bắt đầu hoặc dừng fetch tự động
                                    function toggleAutomaticFetch() {
                                        if (intervalId) {
                                            clearInterval(intervalId);
                                            intervalId = null;
                                        } else {
                                            intervalId = setInterval(getAddressSuggestions, 1500);
                                        }
                                    }

                                    function getAddressSuggestions() {
                                        const addressInput = document.getElementById("address");
                                        const query = addressInput.value;

                                        // Kiểm tra nếu ô input không trống
                                        if (query.trim() !== "") {
                                            // Gửi yêu cầu HTTP GET đến OpenStreetMap Nominatim API
                                            const url = `https://nominatim.openstreetmap.org/search?accept-language=vi&countrycodes=VN&q=${encodeURIComponent(query)}&format=json&limit=3`;
                                            fetch(url)
                                                .then(response => {
                                                    if (!response.ok) {
                                                        throw new Error("Network response was not ok");
                                                    }
                                                    return response.json();
                                                })
                                                .then(data => {
                                                    const suggestionList = document.getElementById("suggestion-list");
                                                    suggestionList.innerHTML = "";

                                                    // Kiểm tra kết quả gợi ý địa chỉ và tạo danh sách mới
                                                    if (data.length > 0) {
                                                        data.forEach(item => {
                                                            const li = document.createElement("li");
                                                            li.textContent = item.display_name;
                                                            li.addEventListener("click", () => {
                                                                addressInput.value = item.display_name;
                                                                suggestionList.innerHTML = "";
                                                            });
                                                            suggestionList.appendChild(li);
                                                        });
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error(error);
                                                });
                                        }
                                    }

                                </script>

                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Đăng ký
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/login">Đã có tài khoản? Đăng nhập!</a>
                        </div>
                        <style>
                            a.small:active,
                            a.small:focus {
                                outline: none;
                            }
                            a.small {
                                color: #007bff; /* Màu mặc định của liên kết */
                                transition: color 0.1s ease; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
                            }

                            a.small:hover {
                                color: #f00; /* Màu liên kết khi di chuột vào */
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments::footer}"></div>
</body>
</html>
