<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <!--                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>-->
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Reset Password</h1>
                  <p class="mb-4">Enter your new password!</p>
                </div>
<!---------------------------------------------------------------------------------------------------------------->
                <form class="user" th:action="@{/updatePass}" method="post">
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"  id="password"
                           placeholder="Enter new password (Atleast 6 characters)" name="password" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"  id="repeatPassword"
                           placeholder="Repeat password" name="repeatPassword" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                  </div>
                  <label id="not-match" style="display: none; color: red; margin-top: 5px;">  Repeat password doesn't match!</label>
                  <button id="submitBtn" type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                  </button>

                  <input type="hidden" name="usernameForgot" th:value="${usernameForgot}" required>

                </form>
<!---------------------------------------------------------------------------------------------------------------->

                <script>

                  var btn = document.getElementById("submitBtn");
                  btn.addEventListener("click", function(event) {
                    var pw = document.getElementById("password").value;
                    var repeatPw = document.getElementById("repeatPassword").value;

                    if (pw !== repeatPw) {
                      event.preventDefault();
                      document.getElementById("not-match").style.display = "block";
                    }

                  })

                </script>

                <hr>
              </div>
            </div>
            <style>
              .col-lg-6{
                flex: 0 0 100%;
                max-width: 100%;
              }
            </style>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div th:replace="~{fragments::footer}"></div>

</body>

</html>