<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <!--                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>-->
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Reset Password</h1>
                  <p class="mb-4">Enter your new password!</p>
                </div>
                <form class="user">
<!--                  <div class="form-group">-->
<!--                    <input type="tel" class="form-control form-control-user"-->
<!--                           id="exampleInputPhone" aria-describedby="phoneHelp"-->
<!--                           placeholder="Enter Phone Number...">-->
<!--                  </div>-->
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"  id="password"
                           placeholder="Mật khẩu mới (ít nhất 6 ký tự)" name="password" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"  id="repeatPassword"
                           placeholder="Nhập lại mật khẩu" name="repeatPassword" pattern=".{6,}" title="Mật khẩu phải ít nhất 6 ký tự" required>
                  </div>
                  <a href="login.html" class="btn btn-primary btn-user btn-block">
                    Reset Password
                  </a>
                </form>
                <hr>
<!--                <div class="text-center">-->
<!--                  <a class="small" th:href="@{/login}">Back to the Login page</a>-->
<!--                </div>-->
              </div>
            </div>
            <style>
              .col-lg-6{
                flex: 0 0 100%;
                max-width: 100%;
              }
            </style>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div th:replace="~{fragments::footer}"></div>

</body>

</html>