<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace='~{user-fragments::head}'></div>
</head>
<body>

<!--Header section-->
<div>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a th:href="@{/homepage}"><img th:src="@{static/img/logo.png}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <!--                <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i> <span style="top: -.4rem; left: 1.0rem;" id="cartItemCount">0</span></a></li>

                <script>
                    // Lấy danh sách sản phẩm từ localStorage
                    let productsInCar = JSON.parse(localStorage.getItem('productsInCart')) || [];

                    // Lấy phần tử span dựa trên id
                    let cartItemCount = document.getElementById('cartItemCount');

                    if (productsInCar) {
                        // Cập nhật số lượng sản phẩm trong span
                        cartItemCount.textContent = String(productsInCar.length);
                    }
                </script>

            </ul>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a th:href="@{/homepage}">Home</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/my-account}">My Account</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> nhom7@cnpm.com</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> nhom7@cnpm.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/homepage}"><img style="width: 250px; height: auto" th:src="@{/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a th:href="@{/homepage}">Home</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                            <li><a th:href="@{/my-account}">My Account</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <!--                            <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                            <li>Cart <a href="/shoping-cart"><i class="fa fa-shopping-cart"></i> <span style="top: -.4rem; left: 1.0rem;" id="cartItemCountt">0</span></a></li>

                            <script>
                                // Lấy danh sách sản phẩm từ localStorage
                                let productsInCartt = JSON.parse(localStorage.getItem('productsInCart')) || [];

                                // Lấy phần tử span dựa trên id
                                let cartItemCountt = document.getElementById('cartItemCountt');

                                if (productsInCartt) {
                                    // Cập nhật số lượng sản phẩm trong span
                                    cartItemCountt.textContent = String(productsInCartt.length);
                                }
                            </script>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</div>
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                </div>
                                <!--                        Tên đăng nhập hoặc mật khẩu không đúng-->
                                <div th:if="${ErrorPass}" id="err">
                                    <p class="alert alert-danger" th:text="${ErrorPass}"></p>
                                </div>
                                <div th:if = "${param.error}" id="errr" class="alert alert-danger text-center">
                                    Invalid username or password
                                </div>

                                <script>
                                    const err = document.getElementById("err");
                                    const errr = document.getElementById("errr");

                                    if (err) {
                                        setTimeout(function () {
                                            err.classList.add("fade-out");
                                            setTimeout(function () {
                                                err.style.display = "none";
                                            }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
                                        }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
                                    }

                                    if (errr) {
                                        setTimeout(function () {
                                            errr.classList.add("fade-out");
                                            setTimeout(function () {
                                                errr.style.display = "none";
                                            }, 1000); // Thời gian chờ 1 giây để phần tử biến mất sau khi phần tử đã phai mờ
                                        }, 5000); // Hiển thị trong 5 giây (5000 milliseconds)
                                    }
                                </script>

                                <form th:action="@{/do-login}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="username"
                                               placeholder="Tên đăng nhập" name="username" required/>
                                        <label id="usernameRequired" style="display: none; color: red; margin-top: 5px;">  Please enter your username!</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password"
                                               placeholder="Mật khẩu" pattern=".{6,}" name="password"
                                               title="Mật khẩu phải ít nhất 6 ký tự" required/>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                                <hr/>
                                <form th:action="@{/forgotPass}" method="post">
                                    <input id="usernameForgot" type="hidden" name="usernameForgot" required>
                                    <div class="text-center">
                                        <button style="background: white; border-color: white; " id="forgotPass" type="submit" class="link-button">Forgot password?</button>
                                    </div>

                                    <script>
                                        let submit = document.getElementById("forgotPass");
                                        submit.addEventListener('click', function(event) {
                                            let username = document.getElementById("username").value;
                                            if (!username) {
                                                event.preventDefault();
                                                document.getElementById("usernameRequired").style.display = "block";
                                            } else {
                                                document.getElementById("usernameForgot").value = username;
                                                console.log(document.getElementById("usernameForgot").value);
                                            }
                                        });
                                    </script>

                                </form>
                                <div class="text-center">
                                    <a class="small" href="/register">Not a member? Register!</a>
                                </div>
                                <style>
                                    a.small:active,
                                    a.small:focus {
                                        outline: none;
                                    }
                                    a.small {
                                        color: #007bff; /* Màu mặc định của liên kết */
                                        transition: color 0.1s ease; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
                                    }

                                    a.small:hover {
                                        color: #f00; /* Màu liên kết khi di chuột vào */
                                    }
                                    .link-button {
                                        background: none;
                                        border: none;
                                        color: #007bff;
                                        cursor: pointer;
                                        padding: 0;
                                        font-family: inherit;
                                        font-size: 80%;
                                    }
                                    .link-button:hover {
                                        color: #f00;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div th:replace='~{user-fragments::footer}'></div>
    </body>
    </html>